* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    overflow-x: hidden;
}

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px 0px 100px;

}

.navbar {
    font-family: Kufam !important;
    font-size: 30px;
    gap: 135px;
}

.navbar .container-fluid {
    gap: 140px;
}

.navbar-nav {
    gap: 30px;
    font-family: Kufam !important;
}

.nav-item {
    font-family: Kufam !important;
}

.nav-link {
    font-weight: 500;
    font-family: Kufam !important;
}


.bg-aqua {
    background-color: #F8F0E5 !important;
}

nav .logo {
    width: 143px;
}

nav .menu {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 0;
}

nav .menu li {
    list-style-type: none;
}

nav .menu li a {
    text-decoration: none;
    color: #525252;
    font-size: 16px;
}

nav .menu li a:hover {
    color: #DAC0A3;
}

.yellow-button {
    display: flex;
    padding: 26px 48px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #DAC0A3;
    text-decoration: none;
    color: #3F3F3F;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 64%;
}

.yellow-button:hover {
    color: #FFF;
    background: #3F3F3F;
}

section#home {
    display: inline-flex;
    align-items: flex-start;
    padding: 78px 100px 100px 100px;
    gap: 54px;
}

.kolom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.kolom .deskripsi {
    background: #EADBC8;
    border-radius: 20px;
    display: flex;
    padding: 14px 40px;
    justify-content: center;
    gap: 10px;
    color: #3F3F3F;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 64%;
}

.title {
    color: #4A4A4A;
    font-family: Kufam;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin: 0;
    margin-top: 35px;
}

.subtitle {
    color: #454545;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin: 0;
    margin-top: 15px;
}

.kolom .yellow-button {
    display: flex;
    padding: 32px 62px;
    justify-content: center;
    align-items: center;
    color: #3F3F3F;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 64%;
    margin: 0;
    margin-top: 32px;
}

.hero-img {
    width: ;
}

section#about-us {
    display: flex;
    align-items: center;
    gap: 130px;
    padding: 100px 108px 120px 108px;
    background-color: #fbffdc4b;
    width: 100%;
    justify-content: center;
}



.tentang {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin: 0;
    padding: 0;
    margin-top: 40px;
}

img.tentang-img.img-fluid {
    margin-right: 90px;
}

.titleb {
    width: 663px;
    color: #4A4A4A;
    font-family: Kufam;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    height: 152px;
}

.subtitleb {
    width: 664px;
    color: #454545;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin: 0;
}

.tentang li {
    color: #454545;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    list-style: none;
    display: flex;
    align-items: center;
}

.tentang .about-icon {
    display: inline-flex;
    padding: 6px;
    border-radius: 10px;
    background: #EADBC8;
    margin-right: 15px;

}

.tentang-button {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-top: 40px;
}

.orange-button {
    display: flex;
    padding: 32px 62px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #DAC0A3;
    color: #3F3F3F;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 64%;
    text-decoration: none;
}

.orange-button:hover {
    color: rgb(218, 192, 163);
    background: rgb(63, 63, 63);
}

.yellowb-button {
    display: flex;
    padding: 32px 62px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid #DAC0A3;
    color: #DAC0A3;
    font-family: Nunito;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 64%;
}

section#package {
    display: inline-flex;
    padding: 77px 100px 50px 100px;
    align-items: center;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.paket {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titlec {
    width: 821px;
    color: #4A4A4A;
    text-align: center;
    font-family: Kufam;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 75.6px */
}

.subtitlec {
    width: 660px;
    color: #454545;
    text-align: center;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.card-package {
    display: flex;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    gap: 46px 78px;
    flex-wrap: wrap;
    margin-top: 72px;
    justify-content: center;
}

.card {
    padding: 28px 0px 28px 26px;
    align-items: flex-start;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(29, 165, 153, 0.15);
}

.package-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.package-image {
    width: 311px;
    height: 238px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(<o-image>), lightgray 50% / cover no-repeat;
}

.package-info {
    display: flex;
    width: 335px;
    justify-content: space-between;
    align-items: center;
}

.package-type {
    color: #DAC0A3;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 24px */
}

.best-seller-badge {
    color: #958814;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px 0px 0px 30px;
    background: #EADBC8;
}

.package-facilities {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.flight-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    margin-top: 20px;
}

.package-name {
    width: 259px;
    color: #4A4A4A;
    font-family: Kufam;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 22.4px */
}

.price {
    color: #4A4A4A;
    font-family: Kufam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 28px */
}

.highlighted {
    color: #958814;
    font-family: Kufam;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.package-services {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.icon-box {
    width: 24px;
    height: 24px;
    display: flex;
    padding: 6px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #EADBC8;
}

.outlined-yellow-button {
    display: flex;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #DAC0A3;
    color: #DAC0A3;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 64%;
    /* 7.68px */
}

.soon-card {
    width: 361px;
    height: 585px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    position: relative;
    box-shadow: 0px 4px 20px 0px rgba(29, 165, 153, 0.15);
}

.soon {
    width: 242px;
    height: 24px;
    color: #958814;
    text-align: center;
    font-family: Kufam;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

section#airplane {
    display: inline-flex;
    align-items: center;
    margin-top: 28px;
    margin-left: 100px;
    width: 100%;
    justify-content: space-between;
}

.airplane-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.airplane-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.titled {
    width: 254px;
    color: #4A4A4A;
    font-family: Kufam;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 44.8px */
}

.subtitled {
    width: 295px;
    color: #454545;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 36px */
}

.tag {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 20px;
    background: #EADBC8;
    color: #958814;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.airplane-icon {
    width: 24px;
    height: 24px;
}

svg {
    vertical-align: unset !important;
}

.logo-plane {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    height: 77px;
}

section#facilities {
    display: inline-flex;
    padding: 90px 100px;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
    background: #fbffdc4b;
    margin-top: 97px;
}

.facilities-comp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.facilities-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.titlee {
    width: 821px;
    color: #4A4A4A;
    text-align: center;
    font-family: Kufam;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 75.6px */
}

.subtitlee {
    width: 660px;
    color: #454545;
    text-align: center;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 36px */
}

.facilities-card {
    display: flex;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    gap: 50px 37px;
    flex-wrap: wrap;
    justify-content: center;
}

.facilities-box {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
}

.facilities-text {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.facilities-logo {
    display: flex;
    align-items: flex-start;
    border-radius: 10px;
    background: #EADBC8;
    padding: 6px;
}

.fac-text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fac-head-logo {
    color: #4A4A4A;
    font-family: Kufam;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 30px */
}

.fac-text-logo {
    width: 186px;
    color: #454545;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
}

section#testimonial {
    display: inline-flex;
    padding: 90px 84px 40px 84px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: #FFF;
    width: 100%;
}

.testimoni {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 100%;
}

.testi-header {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
}

.prev-button {
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #DAC0A3;
    color: #3F3F3F;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 64%;
    /* 12.8px */
}

.kiri {
    width: 24px;
    height: 24px;
}

.testi-head-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.titlef {
    width: 860px;
    color: #4A4A4A;
    text-align: center;
    font-family: Kufam;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 75.6px */
}

.subtitlef {
    width: 660px;
    color: #454545;
    text-align: right;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 36px */
}

.testi-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 60px;
}

.all-testi {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
}

.row1 {
    display: flex;
    align-items: flex-start;
    gap: 49px;
}

.row2 {
    display: flex;
    align-items: flex-start;
    gap: 47px;
}

.testi-box {
    display: flex;
    padding: 20px 26px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
}

.testimoni-card {
    display: flex;
    align-items: flex-start;
    gap: 23px;
}

.testi-rate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.testi-img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background: lightgray 50% / cover no-repeat;
}

.testi-tag {
    display: flex;
    padding: 4px 11px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 20px;
    background: #EADBC8;
    color: #958814;
    font-family: Nunito;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.star-tag {
    width: 12px;
    height: 12px;
}

.testi-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.testi-namentag {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}

.namentag-tag {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #EADBC8;
    color: #958814;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 64%;
    /* 8.96px */
}

.namen {
    color: #4A4A4A;
    font-family: Kufam;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 36px */
}

.ntag {
    color: #454545;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 21px */
}

.next-button {
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #DAC0A3;
    color: #3F3F3F;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 64%;
    /* 12.8px */
}

.kanan {
    width: 24px;
    height: 24px;
}

section#gallery {
    display: inline-flex;
    padding: 70px 100px 100px 100px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.galeri {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    width: 100%;
}

.galeri-header {
    display: flex;
    width: 914px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.titleg {
    width: 911px;
    color: #4A4A4A;
    text-align: center;
    font-family: Kufam;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 75.6px */
}

.subtitleg {
    width: 660px;
    color: #454545;
    text-align: center;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 36px */
}

.galeri-cont {
    display: flex;
    align-items: flex-start;
    gap: 25px;
}

.kabah {
    width: 530px;
    height: 743px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(assets/images/Rectangle\ 10.png), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
}

.galeri-img {
    display: flex;
    width: 685px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 37px 27px;
    flex-wrap: wrap;
}

.glr-img {
    width: 329px;
    height: 353px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%) lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
    position: relative;

}

.glr-img::after {
    position: absolute;
    z-index: 900;
    width: 329px;
    height: 353px;
    content: '';
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%) lightgray 50% / cover no-repeat;
}

.galeri-img2 {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
}

.glr-img2 {
    width: 329px;
    height: 353px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(assets/images/), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
}

.show-button {
    width: 211px;
    height: 56px;
    position: absolute;
    left: 59px;
    bottom: 29px;

}

.green-button {
    width: 211px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #958814;
    background: linear-gradient(180deg, #0d6dfd8b 0%, #958814 100%);
    justify-content: center;
    display: inline-flex;
    align-items: center;
    gap: 21px;
    color: #FFF;
    text-align: center;
    font-family: Kufam;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 21px */
}

.show-logo {
    width: 24px;
    height: 24px;
}

.footer {
    display: flex;
    width: 100%;
    padding: 60px 90px 28px 90px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: #958814;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
}

.menu-footer {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-evenly;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer-logo-text {
    display: flex;
    padding: 14px 28px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.text-logo-box {
    display: flex;
    align-items: center;
    gap: 23px;
}

.logo-in-footer {
    display: flex;
    width: 143px;
    justify-content: center;
    align-items: flex-end;
    gap: -2px;
}

.footer-alnasr-logo {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.footer-alnasr-text {
    width: 114px;
    height: 31px;
    flex-shrink: 0;
    color: #958814;
    font-family: Kufam;
    margin-bottom: 0;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: 80%;
    margin-left: 15px;
    display: flex;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

.logo-subtitle {
    width: 72px;
    height: 20px;
    color: #958814;
    font-family: Kufam;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 114.5%;
    /* 22.9px */
}

.footer-logo-notes {
    width: 294px;
    color: #FFF;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-list {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
}


.umrah {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.umrah-h1 {
    width: 205px;
    color: #FFF;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.umrah-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.umrah-ul li {
    width: 205px;
}

.umrah-ul li a {
    color: #FFF;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.footer-box {
    display: flex;
    gap: 20px;
}

.line {
    width: 1249.006px;
    height: 0px;
    stroke-width: 1px;
    stroke: #FFF;
}

.socmed {
    display: flex;
    align-items: center;
    gap: 648px;
}

.socmed-logo {
    display: flex;
    align-items: flex-start;
    gap: 11px;
}

.ig-logo {
    display: flex;
    padding: 6px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #FFF;
    width: 30px;
    height: 30px;
}

/* 2xl */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }

    .title {
        color: #4A4A4A;
        font-family: Kufam;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        margin: 0;
        margin-top: 35px;
    }

    .navbar {
        font-family: Kufam !important;
        font-size: 23px;
        gap: 30px;
    }

    .subtitle {
        font-size: 20px;

    }

    .kolom .yellow-button {
        font-size: 16px;
    }

    img.tentang-img.img-fluid {
        margin-right: 30px;
    }

    .titleb {
        font-size: 35px;
        width: auto;
        height: auto;
    }

    .subtitleb {
        font-size: 20px;
        width: auto;
    }

    .tentang {
        margin-top: 20px;
    }

    .tentang li {
        font-size: 20px;
    }

    .tentang .about-icon {
        width: 27px;
        padding: 6px;
        height: 29px;
        align-items: center
    }

    .orange-button {
        font-size: 16px;
    }

    .yellowb-button {
        font-size: 16px;
    }

    .titlec {
        font-size: 40px;
    }

    .subtitlec {
        font-size: 20px;
    }

    .titled {
        font-size: 29px;
    }

    .subtitled {
        font-size: 20px;
    }

    .titlee {
        font-size: 40px;
    }

    .subtitlee {
        font-size: 20px;
    }

    .facilities-card {
        width: auto;
        justify-content: center;
    }

    .titlef {
        font-size: 40px;
    }

    .subtitlef {
        font-size: 20px;
    }

    .row1 {
        display: flex;
        align-items: flex-start;
        width: 500px;
        gap: 49px;
        flex-direction: column;
    }

    .titleg {
        font-size: 40px;
    }

    .subtitleg {
        font-size: 20px;
    }

    .galeri-cont {
        display: flex;
        width: 943px;
        gap: 25px;
    }

    .kabah {
        width: 379px;
        height: 570px;
    }

    .glr-img {
        width: 256px;
        height: 267px;
    }

    .glr-img2 {
        width: 256px;
        height: 267px;
    }

    .green-button {
        width: 148px;
        height: 34px;
        gap: 6px;
        font-size: 9px;
    }

    .show-logo {
        width: 17px;
        height: 17px;
    }

    .menu-footer {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: unset;
        flex-direction: column;
    }

    .footer-list {
        gap: 8px;
    }

    .footer-logo-text {
        padding: 9px 5px;
        gap: 10px;
    }

    .footer-alnasr-text {
        width: 78px;
        height: 31px;
        font-size: 22px;
    }

    .logo-subtitle {
        width: 55px;
        height: 10px;
        font-size: 15px;
    }

    .footer-logo {
        gap: 20px;
        margin-right: 18px;
    }

    .footer-logo-notes {
        width: 288px;
        font-size: 12px;
    }

    .umrah-h1 {
        width: 110px;
        font-size: 17px;
    }

    .umrah-ul li {
        width: 178px;
    }

    .umrah-ul li a {
        font-size: 14px;
    }

    .socmed {
        display: inline-flex;
        gap: 436px;
        align-content: center;
        width: 110%;
    }

    .footer-box {
        gap: 0;
    }

    span.copyright {
        font-size: 14px;
        text-align: center;
    }

    .ig-logo {
        width: 25px;
        height: 25px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }



    .title {
        color: #4A4A4A;
        font-family: Kufam;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        margin: 0;
        margin-top: 35px;
    }

    .navbar {
        font-family: Kufam !important;
        font-size: 23px;
        gap: 30px;
    }

    .subtitle {
        font-size: 20px;

    }

    .kolom .yellow-button {
        font-size: 16px;
    }

    img.tentang-img.img-fluid {
        margin-right: 30px;
    }

    .titleb {
        font-size: 35px;
        width: auto;
        height: auto;
    }

    .subtitleb {
        font-size: 20px;
        width: auto;
    }

    .tentang {
        margin-top: 20px;
    }

    .tentang li {
        font-size: 20px;
    }

    .tentang .about-icon {
        width: 27px;
        padding: 6px;
        height: 29px;
        align-items: center
    }

    .orange-button {
        font-size: 16px;
    }

    .yellowb-button {
        font-size: 16px;
    }

    .titlec {
        font-size: 40px;
    }

    .subtitlec {
        font-size: 20px;
    }

    .titled {
        font-size: 29px;
    }

    .subtitled {
        font-size: 20px;
    }

    .titlee {
        font-size: 40px;
    }

    .subtitlee {
        font-size: 20px;
    }

    .facilities-card {
        width: auto;
        justify-content: center;
    }

    .titlef {
        font-size: 40px;
    }

    .subtitlef {
        font-size: 20px;
    }

    .row1 {
        display: flex;
        align-items: flex-start;
        width: 500px;
        gap: 49px;
        flex-direction: column;
    }

    .titleg {
        font-size: 40px;
    }

    .subtitleg {
        font-size: 20px;
    }

    .galeri-cont {
        display: flex;
        width: 943px;
        gap: 25px;
    }

    .kabah {
        width: 379px;
        height: 570px;
    }

    .glr-img {
        width: 256px;
        height: 267px;
    }

    .glr-img2 {
        width: 256px;
        height: 267px;
    }

    .green-button {
        width: 148px;
        height: 34px;
        gap: 6px;
        font-size: 9px;
    }

    .show-logo {
        width: 17px;
        height: 17px;
    }

    .menu-footer {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: unset;
        flex-direction: column;
    }

    .footer-list {
        gap: 8px;
    }

    .footer-logo-text {
        padding: 9px 5px;
        gap: 10px;
    }

    .footer-alnasr-text {
        width: 78px;
        height: 31px;
        font-size: 22px;
    }

    .logo-subtitle {
        width: 55px;
        height: 10px;
        font-size: 15px;
    }

    .footer-logo {
        gap: 20px;
        margin-right: 18px;
    }

    .footer-logo-notes {
        width: 288px;
        font-size: 12px;
    }

    .umrah-h1 {
        width: 110px;
        font-size: 17px;
    }

    .umrah-ul li {
        width: 178px;
    }

    .umrah-ul li a {
        font-size: 14px;
    }

    .socmed {
        display: inline-flex;
        gap: 436px;
        align-content: center;
        width: 100%;
        justify-content: center;
    }

    .footer-box {
        gap: 0;
    }

    span.copyright {
        font-size: 14px;
        text-align: center;
    }

    .ig-logo {
        width: 25px;
        height: 25px;
    }




}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }

    .kolom {
        align-items: center;
    }

    .title {
        text-align: center;
    }

    .subtitle {
        text-align: center;
    }

    .hero-img {
        height: 463px;
    }

    .kolom-img {
        display: flex;
        justify-content: center;
        padding-right: 23px;
    }

    img.tentang-img.img-fluid {
        height: 460px;
    }

    .about-img {
        display: flex;
        justify-content: center;
        padding-left: 25px;
    }

    .about-text {
        text-align: center;
    }

    .tentang-button {
        justify-content: center;
    }

    .titlec {
        font-size: 37px;
        width: 665px;
    }

    section#facilities {
        padding: 90px 75px;

    }

    .titlee {
        width: 100%;

    }

    .subtitlee {
        width: 100%;
    }

    section#package {
        flex-direction: column;
        align-items: unset;
    }

    section#airplane {
        margin-left: 0;
    }

    .titlef {
        font-size: 37px;
        width: 600px;
    }

    .titleg {
        font-size: 37px;
    }

    .galeri-cont {
        display: flex;
        width: 943px;
        gap: 25px;
        flex-direction: column;
        align-items: center;
    }

    .galeri-img {
        display: flex;
        width: 685px;
        align-items: center;
        align-content: flex-start;
        gap: 37px 27px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu-footer {
        display: flex;
        align-items: flex-start;
        width: 112%;
        justify-content: unset;
        gap: 20px;
        flex-direction: column-reverse;
    }

    .footer-box {
        display: flex;
        flex-direction: row;
    }

    .socmed {
        gap: 163px;
    }
}


/* sm */
@media (max-width: 576px) {
    .container {
        max-width: 475px;
    }

    .navbar {
        justify-content: center;
    }

    section#home {
        padding: 78px 40px 78px 40px;
    }

    .kolom .deskripsi {
        font-size: 12px;
        font-weight: bolder;
    }

    .title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 17px;
    }

    .kolom .yellow-button {
        font-size: 13px;
    }

    .kolom-img {
        padding-right: 15px;
    }

    .hero-img {
        height: auto;

    }



    img.tentang-img.img-fluid {
        height: 333px;
    }

    .titleb {
        font-size: 30px;

    }

    .subtitleb {
        font-size: 17px;
    }

    .tentang {}

    .tentang li {
        font-size: 13px;
    }

    .yellowb-button {
        line-height: 70%;
        font-size: 14px;
        padding: 30px 45px;
    }

    .orange-button {
        font-size: 14px;
        padding: 30px 45px;
    }

    .tentang-button {
        align-items: center;
    }

    section#package {
        padding: 77px 50px 50px 50px;
    }

    .titlec {
        width: 100%;
        font-size: 30px;

    }

    .subtitlec {
        width: 100%;
        font-size: 17px;
    }

    .package-image {
        width: 234px;
    }

    .package-type {
        font-size: 15px;
    }

    .price {
        font-size: 15px;
    }

    .highlighted {
        font-size: 15px;
    }

    .soon-card {
        height: 495px;
        width: 100%;
    }

    section#airplane {
        display: inline-flex;
        align-items: center;
        margin-top: 28px;
        gap: 50px;
        width: 100%;
        flex-direction: column;
    }

    section#facilities {
        padding: 90px 40px;
    }

    .facilities-box {
        padding: 9px;
    }

    .titlee {
        width: 100%;
        font-size: 30px;
    }

    .subtitlee {
        width: 100%;
        font-size: 17px;
    }

    section#testimonial {
        padding: 90px 40px 40px 40px;
    }

    .testi-box {
        padding: 22px 109px;
    }

    .titlef {
        width: 100%;
        font-size: 30px;
    }

    .subtitlef {
        width: 100%;
        font-size: 17px;
    }

    .titleg {
        width: 425px;
    }

    .subtitleg {
        width: 435px;
    }

    .kabah {
        width: 275px;
        height: 390px;

    }

    .glr-img {
        width: 231px;
        height: 231px;
    }

    .glr-img2 {
        width: 231px;
        height: 231px;
    }

    .menu-footer {
        flex-direction: column-reverse;
    }

    .footer-box {
        flex-direction: column;
    }

    .socmed {
        gap: 54px;
    }

    section#gallery {
        display: inline-flex;
        padding: 70px 40px 100px 40px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
    }

    .titleg {
        width: 400px;
        font-size: 30px;
    }

    .subtitleg {
        width: 350px;
    }

    .galeri-cont {
        width: 100%;
    }

    .kabah {
        width: 200px;
        height: 312px;
    }

    .galeri-img {
        display: flex;
    width: 450px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 37px 27px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    }

    .glr-img {
        width: 160px;
    height: 160px;
    }

    .glr-img2 {
        width: 160px;
    height: 160px;
    }

    .green-button {
        width: 100px;
    height: 31px;
    gap: 6px;
    font-size: 8px;
    }

    .show-button {
        width: 211px;
    height: 25px; 
    position: absolute;
    left: 31px;
    bottom: 29px;
    }

    .footer {
        padding: 60px 40px 10px 40px;;
    }

    .menu-footer {
        width: 100%;
    }

    span.copyright {
        font-size: 10px;
    }

}

/* xs */
@media (max-width: 475px) {
    .container {
        width: 100%;
    }
}